.footer {
    background-color: black;
    height: 20%;
    padding: 2%;
}
.copyright {
    background-color: #808080;
    color: white;
    padding-left: 7%;
}
#facebook {
    width: 25px;
    height: 25px;
    margin-left: 31%;
}
.links {
    padding-left: 10%;
    color: white;
}
.link:hover {
    color: blue;
}
