.footer {
    background-color: black;
    height: 30%;
    padding: 2%;
}
.copyright {
    background-color: #2199e8;
    color: white;
    padding-left: 7%;
}
a {
    color: white;
}
#facebook {
    width: 25px;
    height: 25px;
    margin-left: -20%;
    margin-top: 60%;
}
.links {
    padding-left: 10%;
    color: white;
}
.link:hover {
    color: blue;
}
.address {
    margin-top: 15%;
}
.logo {
    width: 30%;
    margin-left: 22%;
}
